.popup {
    display: flex;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 400px;
    padding: 0 20px;
    transition: 0.5s all;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 165, 1, 1);

    &__message {
        text-align: center;
        color: black;
        font-weight: 700;
        font-size: 18px;
    }

    &_active {
        visibility: visible;
        opacity: 1;
    }
}